.UnAssignedLoads{
    border: 2px solid rgb(210, 22, 91);
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px;
}
.UnAssignedLoads h3{
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
    text-transform: uppercase;
}