.LoadByIdPage{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.LoadByIdPage > div{
    margin: 20px 0px;
}
.LoadByIdPage .box-style{
    border: 1px solid #0b245b;
    background: #e1e0e0;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.21);
}
.LoadByIdPage > div h3{
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    background: #0b245b;
    color: #f9faf5;
}

.LoadByIdPage .flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.LoadByIdPage .flex-row > div:first-child{
    margin-right: 10px;
}
.LoadByIdPage .flex-row > div:not(:first-child){
    margin-left: 10px;
}
.LoadByIdPage .flex-row > div{
    width: 100%;
}
.LoadByIdPage .box-style .info-wrapper{
    color: #0b245b;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.LoadByIdPage .box-style .info:nth-of-type(odd){
    margin: 10px 0px;
}
.LoadByIdPage .info h6{
    text-transform: uppercase;
    margin-bottom: 3px;
    border-bottom: 1px solid #0b245b;
    display: inline-block;
}
.LoadByIdPage .red-text{
    font-weight: 600;
}

.LoadByIdPage .additional-info .flex-row > div:last-child{
    width: 70%;
    margin-right: 10%;
}

.LoadByIdPage button.app-button{
    width: 100%;
    border:none;
}
.LoadByIdPage .load-header .app-button{
    margin-bottom: 8px;
}
.LoadByIdPage .load-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.LoadByIdPage .change-status h6{
    color: #0b245b;
    border:none;
}
.LoadByIdPage form fieldset{
    border:none;
}
.LoadByIdPage .select-css{
    text-transform: capitalize;
}
.LoadByIdPage .green-text{
    color: darkgreen;
    font-weight: 600;
}
.LoadByIdPage .assign-driver fieldset{
    display: flex;
    flex-direction: column;
}
.LoadByIdPage .assign-driver legend{
    text-transform: uppercase;
    padding: 30px;
    text-align: left;
}
.LoadByIdPage .assign-driver .assign-driver-fields{
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}
.LoadByIdPage .assign-driver h6{
    text-align: left;
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 8px;
}
.LoadByIdPage .assign-driver .app-button{
    margin: 15px auto;
    width: auto;
}
@media only screen and (min-width: 480px){
    .LoadByIdPage .load-header .app-button{
        margin-bottom: 0px;
        width: auto;
    }
    .LoadByIdPage .load-header{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 600px){
    .LoadByIdPage .flex-row{
        flex-direction: column;
    }
    .LoadByIdPage .flex-row > div:first-child{
        margin-right: 0px;
    }
    .LoadByIdPage .flex-row > div:not(:first-child){
        margin-left: 0px;
        margin-top: 30px;
    }
    .LoadByIdPage .additional-info .flex-row > div:last-child{
        width: 100%;
        padding: 0px 20px;
        margin: 0px;
    }
    .LoadByIdPage .box-style .info-wrapper{
        padding: 10px 20px;
    }
    .LoadByIdPage .assign-driver .app-button{
        width: 100%;
    }
}