.EquipmentPage{
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto;
    border: 1px solid #0B245B;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.21);
}
.EquipmentPage fieldset{
    border: none;
}
.EquipmentPage legend{
    width: 100%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 4px 0 10px 1px rgba(0,0,0,0.21);
}
.EquipmentPage .flex{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.EquipmentPage label{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.EquipmentPage label:nth-of-type(even){
    margin: 25px 0px;
}
.EquipmentPage label .input-title{
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
}
.EquipmentPage label input{
    margin-top: 6px;
}
.EquipmentPage .error{
    color: #9A073C;
    font-weight: 600;
    font-size: 0.7em;
    padding: 5px;
    display: none;
}
button.app-button{
    margin: 25px auto 10px auto;
}

.EquipmentPage .EquipmentCard{
    margin: 20px;
}

@media only screen and (min-width: 500px){
    .EquipmentPage div{
        width: 100%;
    }
    .EquipmentPage .flex{
        align-items: flex-start;
    }
    .EquipmentPage input {
        width: 100%;
        margin-bottom: 20px;
        max-width: 400px;
    }
    button.app-button{
        width: auto;
        margin: 0px;
    }

}