.EquipmentPage{
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto;
    border: 1px solid #0B245B;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.21);
}
.EquipmentPage h3{
    font-size: 0.94em;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}

.EquipmentPage .EquipmentCard{
    margin: 40px 40px 0px 40px;
}
.EquipmentPage .equipment-list{
    padding-bottom: 40px;
}
.EquipmentPage .box ul{
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 500px){
    .EquipmentPage input {
        width: 100%;
        margin-bottom: 20px;
        max-width: 400px;
    }
    .EquipmentPage button.app-button{
        width: auto;
        margin: 0px;
    }
    .EquipmentPage .box li{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Table List Style */
.EquipmentPage .equipment-list{
    display: flex;
}