.HomePageSection .user-info{
    padding: 0px;
    margin: 0px;
    font-size: 0.7em;
    text-align:center;
}
.HomePageSection .user-info span{
    font-weight: 600;
}
.HomePageSection .app-link{
    margin-top: 10px;
}