.LoadListBox{
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.21);
    font-size: 0.7em;
}
.LoadListBox h3{
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.21);
}
.LoadListBox .empty-list{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.LoadListBox ul{
    padding: 20px 0px;
}
.LoadListBox ul .load{
    background: #e1e0e0;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.25);
    padding: 20px;
    margin: auto 20px;
    font-size: 0.8em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.LoadListBox ul .load:nth-of-type(even){
    margin: 50px 20px;
}
.LoadListBox ul .load:last-child{
    margin-bottom: 0px;
}
.LoadListBox .load h6{
    display: inline-block;
    border-bottom: 1px solid #0b245b;
}
.LoadListBox .load .pick-up{
    padding: 5px;
}
.LoadListBox .load .status-line{
    display: flex;
    height: 2px;
    align-items: center;
    margin: 40px 20px;
    position: relative;
}
.LoadListBox .status-line-wrapper{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

/* Small tags around the status line*/
.LoadListBox .rate-broker .driver{
    width: 100%;
    text-align: right;
}
.LoadListBox .rate-broker .status{
    width: 100%;
    text-align: left;
}


/* Status Line Styles */
.LoadListBox .truck{
    color: #0B245B;
    font-size: 2em;
    position: absolute;
}
.LoadListBox .truck:hover{
    cursor: pointer;
}

.LoadListBox .truck.un-assigned{
    left: 0%;
    color: rgb(210,22,91) !important;
}
.LoadListBox .truck.dispatched{
    left: 0%;
}
.LoadListBox .truck.loading{
    left: 20%;
}
.LoadListBox .line.loading{
    width: 20%;
}
.LoadListBox .truck.in.transit{
    left: 50%;
}
.LoadListBox .line.in.transit{
    width: 50%;
}
.LoadListBox .truck-status.in.transit{
    left: 20%;
}
.LoadListBox .truck.unloading{
    left: 80%;
}
.LoadListBox .line.unloading{
    width: 80%;
}
.LoadListBox .truck.completed{
    left: 97%;
}
.LoadListBox .line.completed{
    width: 97%;
}
.LoadListBox .line.increase{
    position: absolute;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    left: 0px;
    height: 4px;
    z-index: 1;
}
.LoadListBox .circle.green{
    background: #0B245B;
}
.LoadListBox .circle.red{
    background: rgb(210,22,91);;
}
.LoadListBox .line.green{
    background :#0B245B;
}
.LoadListBox .line.red{
    background: rgb(210,22,91);
}
.LoadListBox .circle.un-assigned{
    background: rgb(210,22,91);
}
.LoadListBox .circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.LoadListBox .status-line .line{
    flex: 1;
}
.LoadListBox .line.red{
    width: 100%;
    height: 2px;
}
/* End of status line styling */


.LoadListBox .red-bold{
    font-weight: 800;
    font-size: 1.2em;
}
.LoadListBox .delivery{
    text-align: right;
}
.status-line-wrapper .miles,
.status-line-wrapper .rate-broker{
    align-self: center;
    text-align: center;
}
.status-line-wrapper .rate-broker{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.LoadListBox .date{
    font-size: 0.8em;
    font-weight: 800;
}
.LoadListBox .load-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1em;
}
.LoadListBox .load-buttons button,
.LoadListBox .load-buttons a{
    background: rgb(210,22,91);
    border: none;
    color: #f9faf5;
    padding: 8px 20px;
}
.LoadListBox .load-buttons button:hover,
.LoadListBox .load-buttons a:hover,
.LoadListBox .load-buttons button:focus,
.LoadListBox .load-buttons a:focus{
    background: rgb(255, 0, 93);
}
.LoadListBox .no-shipments{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
@media only screen and (min-width: 480px){
    .LoadListBox{
        font-size: 1em;
    }
}
@media only screen and (min-width:900px){
    .LoadListBox ul{
        display: flex;
        flex-wrap: wrap;
        padding: 3%;
    }
    .LoadListBox ul .load{
        min-width: 46%;
        margin: 2%;
    }
    .LoadListBox ul .load:nth-of-type(even){
        margin: auto;
    }
}