.Header{
    padding: 20px;
}
.Header .logo{
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    font-size: 1.3em;
    padding: 0px 5px;
    border-left: 15px double rgb(210, 22, 91);
}
.Header .width-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Header button{
    border: none;
    cursor: pointer;
}
.Header .l1,
.Header .l2,
.Header .l3{
    width: 30px;
    height: 4px;
}
.Header .l2{
    margin: 3px 0px;
}

.Header a{
    color: inherit;
}

/* Ipads and Larger Screens */
@media only screen and (min-width:680px){
    .Header .logo{
        font-size: 1.9em;
        padding: 0px 10px;
    }
}

/* Larger Screens */
@media only screen and (min-width:1050px){
    
}