*{
  box-sizing: border-box;
}

body, html, main, header, nav, div, p, section,
ul, li, a, ol, footer, form, fieldset, legend,
input, textarea, button, label, span,
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

.width-wrapper{
  width: 90%;
  max-width: 900px;
  margin: auto;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* COLOR PALLETE */
.white-text{
  color: #F9FAF5;
}
.white-back{
  background-color: #F9FAF5;
}
.blue-text{
  color: #0B245B;
}
.blue-back{
  background-color: #0B245B;
}
.grey-text{
  color: #E1E0E0;
}
.grey-back{
  background-color: #E1E0E0;
}
.red-text{
  color: #9A073C;
}
.red-back{
  background-color: #9A073C;
}

