/* Global Normalization Styles */
*{
  box-sizing: border-box;
}

body, html, main, header, nav, div, p, section,
ul, li, a, ol, footer, form, fieldset, legend,
input, textarea, button, label, span,
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

.width-wrapper{
  width: 90%;
  max-width: 900px;
  margin: auto;
}

a{
  display: inline-block;
  text-decoration: none;
}

li{
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Color Pallete */
.white-text{
  color: #F9FAF5;
}
.white-back{
  background-color: #F9FAF5;
}
.blue-text{
  color: #0B245B;
}
.blue-back{
  background-color: #0B245B;
}
.grey-text{
  color: #E1E0E0;
}
.grey-back{
  background-color: #E1E0E0;
}
.red-text{
  color: rgb(210, 22, 91);
}
.red-back{
  background-color: rgb(210, 22, 91);
}


/* Global Button Styling */
.app-button{
  width: auto;
  background: rgb(210, 22, 91);
  color: #F9FAF5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  padding: 8px 24px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.23);
}
.app-button:hover,
.app-button:focus{
  background-color: rgb(255, 0, 93);
}
.app-link{
  color: rgb(210, 22, 91);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  font-weight: 600;
}
.app-link:hover,
.app-link:focus{
  color: rgb(255, 0, 93);
}

@media only screen and (max-width: 480px){
  .app-button{
    width: 100%;
    text-align: center;
  }
}

/* Global Input Box Styling */
input[type='text'],
input[type='password']{
  padding: 10px 20px;
  font-size: 0.9em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  color: #0B245B;
  font-weight: 600;
  border: 1px solid #0B245B;
}
input[type='text']:focus,
input[type='password']:focus{
  background: rgba(11, 36, 91, 0.41);
  color: #0B245B;
  outline: none;
}
