/* Global Normalization Styles */
*{
  box-sizing: border-box;
}

body, html, main, header, nav, div, p, section,
ul, li, a, ol, footer, form, fieldset, legend,
input, textarea, button, label, span,
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

.width-wrapper{
  width: 90%;
  max-width: 900px;
  margin: auto;
}

a{
  display: inline-block;
  text-decoration: none;
}

li{
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Color Pallete */
.white-text{
  color: #F9FAF5;
}
.white-back{
  background-color: #F9FAF5;
}
.blue-text{
  color: #0B245B;
}
.blue-back{
  background-color: #0B245B;
}
.grey-text{
  color: #E1E0E0;
}
.grey-back{
  background-color: #E1E0E0;
}
.red-text{
  color: #9A073C;
}
.red-back{
  background-color: #9A073C;
}


/* Global Button Styling */
.app-button{
  background: #0B245B;
  color: #F9FAF5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  padding: 8px 24px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.app-button:hover,
.app-button:focus{
  background-color: #000099;
}
.app-link{
  color: #0B245B;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  font-weight: 600;
}
.app-link:hover,
.app-link:focus{
  color: #000099;
}

@media only screen and (max-width: 480px){
  .app-button{
    width: 100%;
    text-align: center;
  }
}