.DesktopMenu{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight:600;
    font-size: 0.9em;
    position: relative;
    z-index: 2;
}
.DesktopMenu > ul{
    position: absolute;
    right: 0;
    top: -20px;
}
.DesktopMenu > ul li ul { 
    display: none; 
}
.DesktopMenu > ul li:hover ul,
.DesktopMenu > ul li.open ul,
.DesktopMenu > ul li a:focus + ul{ 
    display: block;
}
.DesktopMenu ul{
    display: flex;
}
.DesktopMenu ul li a,
.DesktopMenu ul li span{
    cursor: pointer;
    display: block;
    padding: 10px 30px;
}
.DesktopMenu ul li:hover,
.DesktopMenu ul li a:focus,
.DesktopMenu > ul li:focus,
.DesktopMenu ul li a:active,
.DesktopMenu > ul li.open,
.DesktopMenu > ul li.open:hover,
.DesktopMenu > ul li.open:focus{
    background: #e1e0e0;
    color: #0b245b;
}
.DesktopMenu ul li:last-child{
    margin-right: 0px;
}
.DesktopMenu li.has-submenu ul{
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.21);
}
.DesktopMenu li.has-submenu ul li a {
    text-align: center;
    padding: 20px 10px;
    border: none;
    font-weight: 600;
    background: #e1e0e0;
    color: rgb(210, 22, 91);
    width: 100%;
    margin: 0px auto;
}
.DesktopMenu li.has-submenu ul li a:hover,
.DesktopMenu li.has-submenu ul li a:focus,
.DesktopMenu li.has-submenu ul li a:active{
    background: #d0d0d0;
    color: #0b245b;
}
@media only screen and (max-width: 1050px){
    .DesktopMenu{
        display: none;
    }
}