.CreateAccount{
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto;
    border: 1px solid #0B245B;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.21);
}
.CreateAccount fieldset{
    border: none;
}
.CreateAccount legend{
    width: 100%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 4px 0 10px 1px rgba(0,0,0,0.21);
}
.CreateAccount .flex{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.CreateAccount label{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.CreateAccount label:nth-of-type(even){
    margin: 25px 0px;
}
.CreateAccount label .input-title{
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
}
.CreateAccount label input{
    margin-top: 6px;
}
.CreateAccount .error{
    color: #9A073C;
    font-weight: 600;
    font-size: 0.7em;
    padding: 5px;
}
.CreateAccount button.app-button{
    margin: 25px auto 10px auto;
}

@media only screen and (min-width: 500px){
    .CreateAccount{
        width: 80%;
        max-width: 500px;
    }
    button.app-button{
        width: 50%;
    }
}