/* Goback button */
.GoBack {
    border: none;
    background: #0b245b;
    color: #f9faf5;
    font-size: 1em;
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #f9faf5;
    padding: 0px;
    transition: 0.2s;
    position: absolute;
}
.GoBack:hover,
.GoBack:focus,
.GoBack:active {
    background: #f9faf5;
    color: #0b245b;
}

/* Edit button */
.EditButton{
    border: none;
    background: inherit;
    color: #0b245b;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    border:1px solid #0b245b;
    cursor: pointer;
    padding: 8px 20px;
    margin-bottom: 10px;
    border-radius: 25px;
}
.EditButton:hover,
.EditButton:focus,
.EditButton:active {
    color: rgb(210, 22, 91);
}
.EditButton svg{
    margin-right: 5px;
}